@model HotelsAndRoomsMVC.ViewModels.RoomViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room.Name)
        </dd>
        <dt class = "col-sm-2">
            Hotel
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hotel.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room.NumOccupants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room.NumOccupants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room.NumAdults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room.NumAdults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room.NumChildren)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room.NumChildren)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.room.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
